.hero-section {
  background-size: cover;
  position: absolute;
  height: 100vh;
}

.hero-section::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* dark overlay */
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
}
.hero-blur {
  background: url('/public/Deep_Photo.jpg') center/cover no-repeat;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.hero-blur::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-blur .content {
  position: relative;
  z-index: 1;
}
